body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 400px;
    border-radius: 1rem;
    border:  2px solid black;    
}

.box{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: white;
}